<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>درباره</title>
    <link rel="preconnect" href="//fdn.fontcdn.ir">
    <link rel="preconnect" href="//v1.fontapi.ir">
    <link href="https://v1.fontapi.ir/css/SamimFD" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/about.css">
</head>

<body dir="rtl">
    <div class="container">
        <h1>عرشیا محمودی</h1>
        <div class="info">
            <h2>اطلاعات شخصی من : </h2>
            <div class="my-info">
                <div class="box-info"><span>شماره تلفن : </span>09174484436</div>
                <div class="box-info"><span>ایمیل : </span>arshiaam828@gamil.com</div>
            </div>
        </div>
    </div>
</body>

</html>